.radio-group {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 1.5rem;
}

.radio-group label {
  color: var(--color-blue-200);
  cursor: pointer;
}

.radio-group :checked + label,
.radio-group label:hover {
  color: white;
}

@media screen and (min-width: 62rem) {
  .radio-group {
    flex-direction: column;
  }
}
