@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  :root[data-theme="1"] {
    --color-background-main: 222deg 26% 31%;
    --color-background-input: 223deg 31% 20%;
    --color-background-screen: 224deg 36% 15%;
    --color-background-key: 30deg 25% 89%;
    --color-background-key-special: 225deg 21% 49%;
    --color-background-key-equals: 6deg 63% 50%;

    --color-shadow-key: 28deg 16% 65%;
    --color-shadow-key-special: 224deg 28% 35%;
    --color-shadow-key-equals: 6deg 70% 34%;

    --color-content: 0deg 0% 100%;
    --color-content-key: 221deg 14% 31%;
    --color-content-key-equals: 0deg 0% 100%;

    --color-accent: 6deg 63% 50%;
  }

  :root[data-theme="2"] {
    --color-background-main: 0deg 0% 90%;
  }
}
